body {
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

/* AOS fix */
[data-aos] {
  overflow: hidden;
}

/* Extra bottom space remove */
section {
  overflow: hidden;
}
.navbar-toggler {
  border: none;
}
a:hover {
  color: #ff7a59 !important;
  transition: 0.3s;
}
.navbar {
  border-bottom: 2px solid red;
}

.nav-link {
  color: #333;
  font-size: 16px;
}

.nav-link:hover {
  color: #ff7f50;
}

.nav-link.active {
  color: #ff7f50 !important;
}
@media (max-width: 768px) {
  .social-icons {
    display: none;
  }
}
.event-card {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 120, 80, 0.7);
}

.overlay.light {
  background: rgba(255, 255, 255, 0.8);
}

/* Content */
.content {
  position: relative;
  text-align: center;
  color: #fff;
}

.content.dark {
  color: #333;
}

.content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Buttons */
.btn-outline {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #fff;
  color: #ff7a59;
}

.btn-dark-outline {
  background: transparent;
  border: 2px solid #333;
  color: #333;
  padding: 10px 30px;
}

.btn-dark-outline:hover {
  background: #333;
  color: #fff;
}
.btn-dark-outline-1 {
  background: #FF6E4E;
  border: 1px;
  color: #333;
  padding: 10px 30px;
}

.btn-dark-outline-1:hover {
  background: #333;
  color: #fff;
}
.btn-dark-outline-2 {
  background: #FF8A65;
  border: 1px;
  color: #333;
  padding: 10px 30px;
}

.btn-dark-outline-2:hover {
  background: #333;
  color: #fff;
}
.btn-dark-outline-3 {
  background: #404040;
  border: 1px;
  color: #ffff;
  padding: 10px 30px;
  width: 130px;
}

.btn-dark-outline-3:hover {
  background: #fff;
  color: #000;
}
/* Responsive */
@media (max-width: 768px) {
  .event-card {
    height:400px;
	width:420px;
  }

  .content h2 {
    font-size: 24px;
  }
}
.img-box {
  height: 290px;
  overflow: hidden;
}

.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.1s ease;
}

/* Hover zoom */
.img-box:hover img {
  transform: scale(1.1);
}
.form-control {
  border-radius: 0;
  padding: 12px;
}
.container,
.row {
  overflow: visible !important;
}
.menu-link {
  transition: all 0.3s ease;
}

.menu-link:hover {
  color: #fff !important;
}
.map-section {
  margin-top: -130px;
  margin-bottom:-20px;
}

@media (max-width: 768px) {
  .map-section {
    margin-top: 0px; /* ✅ mobile me normal */
  }
}
.event-card {
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile fix */
@media (max-width: 768px) {
  .event-card {
    height: 250px;
  }

  .event-card h2 {
    font-size: 20px;
  }
}
